<div class="card mb-3 mt-3">
  <div class="card-header">
    <%= cell(User::Cell::Title, model) %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <%= about || "No about section yet :(" %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= edit_link %>
  </div>
</div>

<h1>Latest Posts</h1>

<%= cell(Post::Cell::Post, collection: latest_posts) %>
