<div class="row">
  <div class="col-sm">
    <div class="row">
      <div class="col-sm-1">
        <%= image_tag 'avatar.png', class: 'avatar' %>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm">
            <strong><%= model.username %></strong>
          </div>
        </div>
        <div class="row">
          <% model.native_languages.each do |language| %>
            <div class="col-sm-1">
              <span><%= language.code.upcase %></span>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          <% end %>

          <% model.learning_languages.each do |language| %>
            <div class="col-sm-1">
              <span><%= language.code.upcase %></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
