<div class="row">
  <div class="col-sm offset-sm-1">
    <%= cell(Textdiff::Cell::Show, [model.segment.segment, model.entry] ) %>
  </div>
</div>
<div class="row  mb-3">
  <div class="col-sm offset-sm-2">
    <%= model.comment %>
  </div>
</div>
